In [1]:
# 파이썬 프로그래밍 언어
# 입력 : input
# 저장 : 변수
# 처리 : 산술연산, 분기, 판별문
# 출력 : print

In [2]:
# 프로그래밍 언어1
# 말하기 : 문제정의를 잘하자, 하고 싶은 얘기를 잘 정리하자.
# 쓰기 : 문법(파이썬 문법)
# 읽기 : 다른 사람의 코드, 문서
# 듣기 : 오류 메세지

In [4]:
# 회원 가입 필수 항목 중 이름을 입력받는다. 단, 입력되지 않은 경우 예외처리한다.
name = input("이름을 입력하세요 : ")

이름을 입력하세요 : a

In [10]:
# 바구니 : 자료구조
# 리스트 : 딕셔너리, 튜플, 셋
# range : 범위생성자
# ragne(y) : 0-y 미만
# range(x,y) : x-y 미만
# range(x,y,z) : x-y 미만 z씩 증감

# 반복문
for ~하는 동안 ~하겠다.

while 조건이 참인 동안 ~하겠다.

In [12]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
# 관례적으로 변수를 아래 실행부분에서 사용하지 않으면 _를 사용
for _ in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [8]:
for k in range(7, 10):
    print(k)

7
8
9

In [9]:
for k in range(11, 10):
    print(k)

In [13]:
for k in range(10, 1, -1):
    print(k)

10
9
8
7
6
5
4
3
2

In [15]:
# 1-100 까지 짝수만 출력하도록 for문을 작성해보시오
for x in range(2,101,2):
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [28]:
# 1 -100까지의 정수 중 짝수들의 합을 출력하시오
# 답안작성1
sum=0
for x in range(101):
    if x %2 ==0:
        sum += x
       
print(sum)

2550

In [31]:
# 답안작성2
sum=0
for x in range(2,101,2):
    sum+=x
print(sum)

2550

In [32]:
# shile 문을 사용해서 1-100까지의 정수들을 순서대로 출력하시오
count =1 
while count <101:
    print(count)
    count+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [33]:
# while문으 ㄹ이용해서 입력받은 정수부터 +100 까지의 정수를 순서대로 출력하시오
start = input("시작 숫자 입력:")
start=int(start)
count =0 
while count <101:
    print(start +count)
    count+=1

시작 숫자 입력:11
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111

In [40]:
# while문으 ㄹ이용해서 입력받은 정수부터 +100 까지의 정수를 순서대로 출력하시오
#풀이 2
start = input("시작 숫자 입력:")
start=int(start)
end= start + 100

while start <= end:
    print(start)
    start+=1

시작 숫자 입력:10
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110

In [41]:
# continue
# break
# while문으 ㄹ이용해서 입력받은 정수부터 +100 까지의 정수를 순서대로 출력하시오
#풀이 2
start = input("시작 숫자 입력:")
start=int(start)
end= start + 100

while start <= end:
    print(start)
    break
    start+=1

시작 숫자 입력:21
21

In [47]:
# continue
# break
# while문으 ㄹ이용해서 입력받은 정수부터 +100 까지의 정수를 순서대로 출력하시오
#풀이 2
start = input("시작 숫자 입력:")
start=int(start)
end= start + 100

while start <= end:
    start+=1
    if start <5:
        continue
    print(start)

시작 숫자 입력:1
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102

In [49]:
# continue
# break

start = 1
start=int(start)
end= 10

while start <= end:
    start+=1
    if start >=5:
        print(start)

5
6
7
8
9
10
11

In [50]:
# continue
# break

start = 1
start=int(start)
end= 10

while start <= end:
    start+=1
    if start < 5:
        continue
    print(start)

5
6
7
8
9
10
11

In [62]:
# 연습문제
# 현재 환율 : 1 USD =1,306.5 won
# 1. 메뉴를 구성한다
# 1번을 선택하면 원을 입력받아서 몇달러인지 계산
# 2번을 선택하면 달러를 입력받아서 몇 원인지 계산해주는 프로그램을 작성
while True:
    menu_num = input("원하시는 계산 방법 숫자를 입력해주세요. \n 1 : 원화 -> 달러 계산 \n 2 : 달러 -> 원화 계산\n 3: 프로그램 종료\n")
    menu_num = int(menu_num)
    if menu_num ==1:
            money = input("바꾸실 원화 금액을 입력해주세요.")
            doller = float(money)/1306.5
            print(f"{doller}USD 입니다.")
    elif menu_num == 2:
            money = input("바꾸실 달러 금액을 입력해주세요.")
            won = float(money)*1306.5
            print(f"{won}USD 입니다.")
    else:
            break

원하시는 계산 방법 숫자를 입력해주세요.
 1 : 원화 -> 달러 계산
 2 : 달러 -> 원화 계산
 3: 프로그램 종료
1
바꾸실 원화 금액을 입력해주세요.1600
1.2246460007654036USD 입니다.
원하시는 계산 방법 숫자를 입력해주세요.
 1 : 원화 -> 달러 계산
 2 : 달러 -> 원화 계산
 3: 프로그램 종료
2
바꾸실 달러 금액을 입력해주세요.1
1306.5USD 입니다.
원하시는 계산 방법 숫자를 입력해주세요.
 1 : 원화 -> 달러 계산
 2 : 달러 -> 원화 계산
 3: 프로그램 종료
3

In [64]:
# 
try :
    weight = input("체중으 ㄹ입력하세요 :")
    weight = float(weight)
except:
    print("숫자를 넣어 주세요")
    weight=0

체중으 ㄹ입력하세요 :kk
숫자를 넣어 주세요

In [66]:
#
while True:
    try :
        weight = input("체중을 입력하세요 :")
        weight = float(weight)
        break
    except:
        print("숫자를 넣어 주세요")
        weight=0

체중으 ㄹ입력하세요 :k
숫자를 넣어 주세요
숫자를 넣어 주세요
숫자를 넣어 주세요
숫자를 넣어 주세요
숫자를 넣어 주세요
숫자를 넣어 주세요
숫자를 넣어 주세요
숫자를 넣어 주세요
체중으 ㄹ입력하세요 :2

In [4]:
#
while True:
    try :
        weight = input("체중을 입력하세요 :")
        weight = float(weight)
        print('a')
    except:
        print("숫자를 넣어 주세요")
        weight=0
        print('b')
    else:
        print('c')
        break

체중을 입력하세요 :d
숫자를 넣어 주세요
b
체중을 입력하세요 :1
a
c

In [2]:
for x in "hello":
    print(x)

h
e
l
l
o

In [10]:
import random as rnd
lotto=[]
for i in range(6):
    while a in lotto:
        a= rnd.randint(1,45)
        continue
    lotto.append(a)
    
print(lotto)

[33, 17, 13, 10, 21, 30]

In [12]:
fruit=['딸기', '사과', '바나나']

In [13]:
fruit.insert(100,'케일')

In [14]:
fruit

['딸기', '사과', '바나나', '케일']

In [28]:
# 1. 로또 번호가 들어간 리스트 만들기
lotto1=list(range(1,46))
# 2. 바구니에서 하나씩 랜덤으로 뽑아내기
for i in range(6):
    print(lotto1.pop(rnd.randint(0,len(lotto1)-1)))
# 3. 총 6개를 뽑기

7
33
1
11
26
27

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45]