<div class="alert alert-block" style="border: 1px solid #455A64;background-color:#ECEFF1;padding:5px;font-size:0.9em;">
  본 자료와 관련 영상 컨텐츠는 저작권법 제25조 2항에 의해 보호를 받습니다. <br>본 컨텐츠 및 컨텐츠 일부 문구 등을 외부에 공개하거나, 요약해서 게시하지 말아주세요.<br>Copyright <a href="https://www.fun-coding.org">잔재미코딩</a> Dave Lee
</div>

### Sakila 데이터로 연습하는 SQL 코딩 테스트 (중급)

### 실습환경 만들기
- pymysql 과 pandas 를 활용해서, 간단히 화면에 출력만 가능하도록 하여, SQL 에만 집중할 수 있도록 함

### 참고
- 암호를 주피터 노트북에 그대로 노출하는 것은 위험하므로, 별도 settings.py 파일을 주피터 노트북 파일의 동일 폴더에 만들고,
- 해당 파일 내에, 다음과 같이 정의하고,
   ```
   USERNAME='root'
   PASSWORD='pass'
   ```
- 다음 코드를 실행해서, 아이디/패스워드를 노출하지 않고, 사용할 수도 있음
   ```
   import settings

   print (settings.USERNAME, settings.PASSWORD)
   ```

In [3]:
import pymysql
import pandas as pd

host_name = "localhost"
username = settings.USERNAME
password = settings.PASSWORD
database_name = "sakila"

db = pymysql.connect(
    host=host_name,  # DATABASE_HOST
    port=3306,
    user=username,  # DATABASE_USERNAME
    passwd=password,  # DATABASE_PASSWORD
    db=database_name,  # DATABASE_NAME
    charset='utf8'
)

In [4]:
import warnings
warnings.filterwarnings('ignore')
# warning 메세지가 거슬리는 경우가 많으므로, 표시 안해주기로 함

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제1</font><br>
category 테이블에서 "Comedy", "Sports", "Family" 카테고리의 category_id 알아내기 (category_id 와 카테고리명 출력하기)<br>
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제2</font><br>
film_category 테이블에서 영화 아이디(film_id)가 2 인 영화의 카테고리 ID 알아내기<br>
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제3</font><br>
film_category 테이블에서 카테고리 ID별 영화 수 알아내기<br>
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제4</font><br>
카테고리가 Comedy 인 영화 수 알아내기 (JOIN 사용하기) <br>
(category 테이블에는 카테고리 이름과 category_id, film_category 테이블에는 category_id와 각 영화 id가 있음)
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제5</font><br>
카테고리가 Comedy, Sports, Family 인 영화 수 알아내기 (JOIN 사용하기) <br>
(category 테이블에는 카테고리 이름과 category_id, film_category 테이블에는 category_id와 각 영화 id가 있음)
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제6 (HAVING 문법을 사용해서 작성해보세요!)</font><br>
카테고리에 포함되는 각각의 영화 수가 70 이상인 카테고리 출력하기
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제7</font><br>
각 카테고리에 포함된 영화들의 렌탈 횟수 구해보기 (각 카테고리별에 포함된 영화들의 총 렌탈 횟수와 각 카테고리명을 출력하는 것이 최종 목표) <br>
- rental 테이블에 렌탈 기록이 있음 <br>
- inventory 테이블에 물품현황과 해당 물품(DVD)에 들어 있는 영화 아이디가 있음 <br>
- film_category 테이블에 영화 아이디에 매칭되는 카테고리 아이디가 있음 <br>
- category 테이블에 카테고리 아이디에 매칭되는 카테고리명이 있음
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제8</font><br>
"Comedy", "Sports", "Family" 카테고리에 포함되는 영화들의 렌탈 횟수 출력하기 (카테코리명, 렌탈 횟수)<br>
- rental 테이블에 렌탈 기록이 있음 <br>
- inventory 테이블에 물품현황과 해당 물품(DVD)에 들어 있는 영화 아이디가 있음 <br>
- film_category 테이블에 영화 아이디에 매칭되는 카테고리 아이디가 있음 <br>
- category 테이블에 카테고리 아이디에 매칭되는 카테고리명이 있음 <br>
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제9 (서브쿼리 문법으로 작성해보세요!)</font><br>
카테고리가 Comedy 인 데이터의 영화 갯수 출력하기
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제10 (RIGHT JOIN 문법으로 작성해보세요!)</font><br>
address 테이블에는 address_id 가 있지만, customer 테이블에는 없는 데이터의 갯수 출력하기
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제11 (실전)</font><br>
캐나다 고객에게 이메일 마케팅 캠페인을 진행하고자 합니다. 캐나다 고객의 이름과, email 주소 리스트를 뽑아주세요
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제12 (실전)</font><br>
젊은 가족 사이에서 매출이 저조해서, 모든 가족 영화를 홍보 대상으로 삼으려고 합니다. 가족 영화로 분류된 모든 영화 리스트를 뽑아주세요
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제13 (실전)</font><br>
가장 자주 대여하는 영화 리스트를 참고로 보고 싶습니다. 가장 자주 대여하는 영화 순으로 100개만 뽑아주세요<br>
title (영화제목) 과 Rentals (렌탈 횟수) 로 보고 싶습니다.
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제13 (실전)</font><br>
각 스토어별로 매출을 확인하고 싶습니다. 관련 데이터를 출력해주세요<br>
store_id (스토어 ID) 와 Revenue (총 amount) 로 보고 싶습니다.
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제14 (실전)</font><br>
각 스토어의 스토어 ID, 도시, 및 국가를 알고싶습니다. 관련 데이터를 출력해주세요<br>
store_id, city, country 로 보고 싶습니다.
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제15 (실전)</font><br>
각 스토어의 스토어 ID, 도시, 및 국가를 알고싶습니다. 관련 데이터를 출력해주세요<br>
store_id, city, country 로 보고 싶습니다.
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">연습문제16 (실전)</font><br>
새로운 임원이 부임했습니다. 총 매출액 상위 5개 장르의 매출액을 수시로 확인하고자 합니다.<br>
Total Sales (각 장르별 총 매출액) 과 Genre (각 장르 이름) 으로 해당 데이터를 수시로 확인할 수 있는 view 를 keygenres 로 만들고, 현재까지의 상위 5 장르의 매출액을 출력해주세요<br>
현재 접속해 있는 mysql 객체가 db 일 때, 데이터를 mysql 에 쓰기 위해서는 다음 코드를 사용하면 됨<br>
<div class="alert alert-block" style="border: 2px solid #E65100;background-color:#FFF3E0;padding:10px">
cursor = db.cursor() <br>
cursor.execute(SQL) <br>
db.commit()
</div>    
</div>

### 데이터베이스 접속 끊기

In [9]:
db.close()

<div class="alert alert-block" style="border: 1px solid #455A64;background-color:#ECEFF1;padding:5px;font-size:0.9em;">
  본 자료와 관련 영상 컨텐츠는 저작권법 제25조 2항에 의해 보호를 받습니다. <br>본 컨텐츠 및 컨텐츠 일부 문구 등을 외부에 공개하거나, 요약해서 게시하지 말아주세요.<br>Copyright <a href="https://www.fun-coding.org">잔재미코딩</a> Dave Lee
</div>